

.title h1 {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    letter-spacing: 5px;
    background-color: red;
    color: white;
    font-size: 50px;
    margin: 40px;
    text-align: center;
}

.sobrenos p {
    margin-left: 50px;
    font-family: Noah,sans-serif;
    font-size: 25px;
}

.info {
    margin: 5%;
    background-image: radial-gradient(red, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    border: 3px solid white;
    border-radius: 5px;
}

.info img {
    margin-top: 10px;
    border: 2px solid white;
    width: 60%;
}

.info p {
    font-size: 30px;
    color: white;
}

.info-2 {
    margin: 5%;
    background-image: radial-gradient(red, black);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px;
    border: 3px solid white;
    border-radius: 5px;
}

.info-2 img {
    margin-top: 10px;
    border: 2px solid white;
    width: 60%;
}

.info-2 p {
    font-size: 30px;
    color: white;
}

body {
    background-image: url(../img/background/background-marvel.jpg);
}





